/* src/styles/home.css */
#blur {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 50vw;
    height: 100vh;
    aspect-ratio: 1;
    background-color: rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(5px);

    animation: slide-from-left, fade-in;
    animation-duration: 600ms, 1s;
    animation-timing-function: ease-out;
}

#home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-right: auto;
}

#message-container {
    animation: slide-from-left;
    animation-duration: 800ms;
    animation-timing-function: ease;
}

#message {
    font-size: 2rem;
    margin-bottom: -0.5rem;
    text-shadow: 2px 4px 8px black;
}

#restaurant-name {
    font-size: 4rem;
    font-style: italic;
    text-shadow: 2px 4px 8px black;
}

@media (max-width: 1200px) {  

    #blur {
        width: 100%;
    }

    #home-content {
        text-align: center;
        width: 100%;
        margin: 0;
    }
}